In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from grouper import group_by_volume, group_by_time
from pyfolio.timeseries import perf_stats
from utils import chart_price, plot, perf, v_backtester, c_backtester, perf_var, summary
import sys
sys.path.append('/home/tomek/ib_tools')
import matplotlib.pyplot as plt
%matplotlib inline
from tester import run, simulate, calibrate, calibrate_multiple

In [2]:
def ema(data, periods, smooth, vol):
    data = data.copy()
    data['ema_fast'] = data.close.ewm(span=periods).mean()
    data['ema_slow'] = data.close.ewm(span=periods*3).mean()
    data['ema_diff'] = data.ema_fast - data.ema_slow
    data['ema_diff_norm'] = data.ema_diff / vol 
    #data.ema_diff.ewm(span=vol_lookback).std()
    #data['ema_diff_norm'] = data.ema_diff / data.ema_diff.rolling(periods).std()
    #data[f'ema_{periods}'] = data['ema_diff_norm'].ewm(span=smooth).mean()
    data[f'ema_{periods}'] = data['ema_diff_norm']
    return data[f'ema_{periods}']

In [3]:
def reducer(x):
    if x < -2.7:
        return max(-(np.log(np.abs(x) -2.7) - .5), 0)
    elif x > 2.7:
        return min((np.log(np.abs(x) -2.7) - .5), 0)
    else:
        return - x**3

In [4]:
def bolli(data, periods, smooth, vol):
    data = data.copy()
    data['mid'] = data.close.ewm(span=periods).mean()
    data['distance'] = data.mid - data.close
    data['std'] = data.close.ewm(span=periods).std()
    data['distance_scaled'] = data.distance / data['std']
    data[f'bolli_{periods}'] = data['distance_scaled']
    return data[f'bolli_{periods}']

In [5]:
def bolli_reduced(data, periods, smooth, vol):
    data = data.copy()
    #data[f'bolli_reduced_{periods}'] = smooth(bolli(data, periods, smooth, vol).apply(reducer), periods/3)
    data[f'bolli_reduced_{periods}'] = bolli(data, periods, smooth, vol).apply(reducer)
    return data[f'bolli_reduced_{periods}']

In [6]:
def breakout(data, periods, smooth, vol):
    up  = (data.close >= data.close.rolling(periods).max()) * 1
    down = (data.close <= data.close.rolling(periods).min()) * 1
    return (up - down).ewm(span=max((int(periods/3), 1))).mean().rename(f'break_{periods}', inplace=True)

In [7]:
def carver(data, periods, smooth, vol):
    data = data.copy()
    data['max'] = data.close.rolling(periods).max()
    data['min'] = data.close.rolling(periods).min()
    data['mid'] = data[['min', 'max']].mean(axis=1)
    data['breakout'] = data['close'] - data['mid']
    data['breakout_norm'] = data['breakout'] / (data['max'] - data['min'])
    data[f'carver_{periods}'] = smooth(data['breakout_norm'], periods/3)
    return data[f'carver_{periods}']

In [8]:
def roc(data, periods, smooth, vol):
    data = data.copy()
    data['roc'] = data.close.pct_change(periods) * 1000
    #data['std'] = data['roc'].ewm(span=200).std()
    #data['roc_normalized'] = data['roc'] / data['std']
    data['roc_normalized'] = data['roc'] / vol
    #data[f'roc_{periods}'] = smooth(data['roc_normalized'], periods/3)
    data[f'roc_{periods}'] = data['roc_normalized']
    return data[f'roc_{periods}']

In [50]:
data = calibrate_multiple('NQ', breakout, start_date='20180501')

In [51]:
data[0]

break_5      0.210944
break_10     0.155669
break_20     0.139221
break_40     0.138401
break_80     0.152160
break_160    0.203605
dtype: float64

In [52]:
data[0].sum()

1.0000000000000002

In [53]:
data[1]

break_5       17.726329
break_10      27.368607
break_20      38.807890
break_40      57.384371
break_80      78.033298
break_160    149.681161
dtype: float64

In [45]:
data[2]

1.3283114373909224

In [14]:
weights = pd.DataFrame()
adjustments = pd.DataFrame()
multipliers = pd.Series()
for symbol in ['NQ', 'ES', 'GC', 'CL']:
    w,a,m = calibrate_multiple(symbol, roc, start_date='20180501')
    weights[symbol] = w
    adjustments[symbol] = a
    multipliers[symbol] = m
weights, adjustments, multipliers

(               NQ        ES        GC        CL
 roc_5    0.178715  0.179040  0.184085  0.186235
 roc_10   0.151361  0.151978  0.155997  0.158317
 roc_20   0.143719  0.143378  0.146734  0.149861
 roc_40   0.146668  0.149847  0.148184  0.150111
 roc_80   0.158702  0.158919  0.161177  0.162949
 roc_160  0.220835  0.216838  0.203822  0.192527,
                 NQ         ES        GC        CL
 roc_5    40.561747  16.189364  7.410745  0.330504
 roc_10   28.312731  11.238484  5.065478  0.229884
 roc_20   19.853591   7.884829  3.584298  0.162346
 roc_40   14.323670   5.640591  2.478450  0.116139
 roc_80    9.827076   3.897318  1.763103  0.079725
 roc_160   6.972325   2.727416  1.435119  0.055885,
 NQ    1.328311
 ES    1.329804
 GC    1.334028
 CL    1.311479
 dtype: float64)

In [15]:
1/6

0.16666666666666666

In [16]:
from tester import get_data, get_candles, get_avg_vol, get_vol

In [17]:
data = get_data('ES', '20180901', '20191231')

In [18]:
data

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-09-03 00:00:00,2906.50,2907.00,2905.75,2905.75,949,2906.375,161
2018-09-03 00:01:00,2905.75,2906.25,2905.75,2905.75,329,2906.125,80
2018-09-03 00:02:00,2905.75,2906.00,2905.75,2906.00,53,2905.900,19
2018-09-03 00:03:00,2906.25,2906.75,2906.25,2906.75,145,2906.450,49
2018-09-03 00:04:00,2906.50,2906.75,2906.00,2906.00,135,2906.300,46
...,...,...,...,...,...,...,...
2019-09-05 08:51:00,2957.50,2957.75,2957.50,2957.50,361,2957.525,70
2019-09-05 08:52:00,2957.50,2958.00,2957.00,2957.25,517,2957.575,112
2019-09-05 08:53:00,2957.50,2957.75,2957.25,2957.50,267,2957.400,85
2019-09-05 08:54:00,2957.50,2958.25,2957.00,2958.25,226,2957.550,62
2019-09-05 08:55:00,2958.25,2958.25,2957.75,2958.00,176,2957.925,34

In [19]:
months = [g for n, g in data.groupby(pd.Grouper(freq='M'))]

In [20]:
months

[                        open     high      low    close  volume   average  \
 date
 2018-09-03 00:00:00  2906.50  2907.00  2905.75  2905.75     949  2906.375
 2018-09-03 00:01:00  2905.75  2906.25  2905.75  2905.75     329  2906.125
 2018-09-03 00:02:00  2905.75  2906.00  2905.75  2906.00      53  2905.900
 2018-09-03 00:03:00  2906.25  2906.75  2906.25  2906.75     145  2906.450
 2018-09-03 00:04:00  2906.50  2906.75  2906.00  2906.00     135  2906.300
 ...                      ...      ...      ...      ...     ...       ...
 2018-09-28 22:55:00  2920.75  2921.00  2920.75  2920.75      28  2920.850
 2018-09-28 22:56:00  2920.75  2921.00  2920.75  2921.00     184  2921.000
 2018-09-28 22:57:00  2921.00  2921.00  2920.75  2921.00      41  2920.850
 2018-09-28 22:58:00  2920.75  2921.00  2920.75  2920.75     465  2920.900
 2018-09-28 22:59:00  2920.75  2921.75  2920.75  2921.75     272  2921.200

                      barCount
 date
 2018-09-03 00:00:00       161
 2018-09-03 00:01:00        80
 2018-09-03 00:02:00        19
 2018-09-03 00:03:00        49
 2018-09-03 00:04:00        46
 ...                       ...
 2018-09-28 22:55:00        18
 2018-09-28 22:56:00        45
 2018-09-28 22:57:00        18
 2018-09-28 22:58:00        54
 2018-09-28 22:59:00        76

 [27075 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2018-10-01 00:00:00  2922.50  2925.50  2922.50  2925.00    1980  2924.250
 2018-10-01 00:01:00  2925.00  2926.75  2925.00  2926.25    1636  2926.150
 2018-10-01 00:02:00  2926.50  2926.50  2926.00  2926.00     759  2926.100
 2018-10-01 00:03:00  2926.00  2926.25  2925.50  2925.75     832  2925.900
 2018-10-01 00:04:00  2925.50  2925.50  2925.00  2925.25     676  2925.225
 ...                      ...      ...      ...      ...     ...       ...
 2018-10-31 23:55:00  2711.00  2711.00  2710.75  2710.75      36  2710.900
 2018-10-31 23:56:00  2711.00  2711.00  2710.25  2710.25     164  2710.500
 2018-10-31 23:57:00  2710.25  2710.25  2710.00  2710.25      37  2710.125
 2018-10-31 23:58:00  2710.00  2710.25  2710.00  2710.25      41  2710.150
 2018-10-31 23:59:00  2710.25  2710.75  2710.25  2710.75     215  2710.475

                      barCount
 date
 2018-10-01 00:00:00       497
 2018-10-01 00:01:00       312
 2018-10-01 00:02:00       144
 2018-10-01 00:03:00       116
 2018-10-01 00:04:00        64
 ...                       ...
 2018-10-31 23:55:00        13
 2018-10-31 23:56:00        28
 2018-10-31 23:57:00        16
 2018-10-31 23:58:00        11
 2018-10-31 23:59:00        39

 [31453 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2018-11-01 00:00:00  2710.75  2711.25  2710.75  2711.25      76  2711.025
 2018-11-01 00:01:00  2711.25  2711.50  2711.00  2711.50     190  2711.250
 2018-11-01 00:02:00  2711.50  2711.50  2711.00  2711.25      56  2711.275
 2018-11-01 00:03:00  2711.25  2711.25  2711.00  2711.25       8  2711.175
 2018-11-01 00:04:00  2711.25  2711.25  2711.00  2711.25      32  2711.250
 ...                      ...      ...      ...      ...     ...       ...
 2018-11-30 22:55:00  2764.00  2764.25  2763.50  2763.75     294  2763.750
 2018-11-30 22:56:00  2763.50  2763.50  2763.00  2763.00     303  2763.150
 2018-11-30 22:57:00  2763.00  2763.25  2762.75  2763.00     174  2763.025
 2018-11-30 22:58:00  2763.00  2763.00  2762.00  2762.00     823  2762.450
 2018-11-30 22:59:00  2762.25  2764.25  2762.00  2764.00     630  2762.950

                      barCount
 date
 2018-11-01 00:00:00        29
 2018-11-01 00:01:00        52
 2018-11-01 00:02:00        18
 2018-11-01 00:03:00         7
 2018-11-01 00:04:00         6
 ...                       ...
 2018-11-30 22:55:00        39
 2018-11-30 22:56:00        65
 2018-11-30 22:57:00        33
 2018-11-30 22:58:00        89
 2018-11-30 22:59:00       128

 [29535 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2018-12-03 00:00:00  2793.50  2800.00  2793.00  2798.00   12580  2796.150
 2018-12-03 00:01:00  2798.25  2804.75  2798.25  2803.00    5328  2802.275
 2018-12-03 00:02:00  2803.00  2803.00  2799.25  2800.00    3791  2800.975
 2018-12-03 00:03:00  2800.00  2803.00  2799.50  2802.50    1288  2800.925
 2018-12-03 00:04:00  2802.50  2803.00  2800.00  2800.50    1363  2801.575
 ...                      ...      ...      ...      ...     ...       ...
 2018-12-31 22:55:00  2508.00  2508.50  2507.50  2508.50     227  2508.125
 2018-12-31 22:56:00  2508.25  2508.75  2508.00  2508.50     605  2508.350
 2018-12-31 22:57:00  2508.25  2508.50  2508.00  2508.50     287  2508.300
 2018-12-31 22:58:00  2508.25  2508.75  2508.25  2508.50     620  2508.550
 2018-12-31 22:59:00  2508.25  2509.00  2508.00  2508.75     666  2508.600

                      barCount
 date
 2018-12-03 00:00:00      2398
 2018-12-03 00:01:00      1310
 2018-12-03 00:02:00       909
 2018-12-03 00:03:00       466
 2018-12-03 00:04:00       294
 ...                       ...
 2018-12-31 22:55:00        63
 2018-12-31 22:56:00        67
 2018-12-31 22:57:00        48
 2018-12-31 22:58:00        94
 2018-12-31 22:59:00       120

 [26655 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-01-02 00:00:00  2508.00  2509.50  2506.25  2509.00    1363  2507.875
 2019-01-02 00:01:00  2509.00  2512.50  2508.75  2512.00     899  2510.725
 2019-01-02 00:02:00  2512.25  2517.50  2511.50  2516.00    1108  2514.725
 2019-01-02 00:03:00  2516.25  2516.75  2515.00  2515.00     493  2516.000
 2019-01-02 00:04:00  2515.00  2515.75  2515.00  2515.00     184  2515.425
 ...                      ...      ...      ...      ...     ...       ...
 2019-01-31 22:55:00  2712.25  2712.50  2712.00  2712.25     623  2712.300
 2019-01-31 22:56:00  2712.00  2713.00  2712.00  2712.75     414  2712.550
 2019-01-31 22:57:00  2712.50  2712.75  2711.00  2711.50     697  2711.875
 2019-01-31 22:58:00  2711.50  2712.25  2711.25  2711.75     476  2711.725
 2019-01-31 22:59:00  2711.75  2712.50  2711.50  2712.00     838  2712.125

                      barCount
 date
 2019-01-02 00:00:00       423
 2019-01-02 00:01:00       301
 2019-01-02 00:02:00       486
 2019-01-02 00:03:00       213
 2019-01-02 00:04:00        82
 ...                       ...
 2019-01-31 22:55:00       153
 2019-01-31 22:56:00        93
 2019-01-31 22:57:00       116
 2019-01-31 22:58:00        84
 2019-01-31 22:59:00       145

 [29805 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-02-01 00:00:00  2707.75  2709.00  2706.75  2707.75    1926  2707.775
 2019-02-01 00:01:00  2707.75  2708.50  2707.25  2707.75     516  2707.775
 2019-02-01 00:02:00  2707.75  2707.75  2706.25  2706.75     520  2706.875
 2019-02-01 00:03:00  2707.00  2709.00  2706.50  2707.50     783  2707.600
 2019-02-01 00:04:00  2707.50  2708.25  2707.25  2708.00     294  2707.850
 ...                      ...      ...      ...      ...     ...       ...
 2019-02-28 22:55:00  2788.75  2788.75  2788.50  2788.50     397  2788.550
 2019-02-28 22:56:00  2788.50  2788.50  2787.75  2788.00     198  2788.100
 2019-02-28 22:57:00  2788.00  2788.00  2787.75  2787.75      66  2787.775
 2019-02-28 22:58:00  2787.50  2787.50  2787.00  2787.25     353  2787.325
 2019-02-28 22:59:00  2787.00  2787.50  2786.75  2787.00     337  2787.125

                      barCount
 date
 2019-02-01 00:00:00       548
 2019-02-01 00:01:00       161
 2019-02-01 00:02:00       138
 2019-02-01 00:03:00       215
 2019-02-01 00:04:00        94
 ...                       ...
 2019-02-28 22:55:00        50
 2019-02-28 22:56:00        33
 2019-02-28 22:57:00        40
 2019-02-28 22:58:00        75
 2019-02-28 22:59:00        93

 [27072 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-03-01 00:00:00  2785.25  2786.25  2785.00  2785.50    1214  2785.450
 2019-03-01 00:01:00  2785.50  2786.00  2785.50  2785.75     188  2785.750
 2019-03-01 00:02:00  2785.75  2786.25  2785.75  2786.00     181  2785.975
 2019-03-01 00:03:00  2786.25  2786.50  2786.00  2786.25     183  2786.225
 2019-03-01 00:04:00  2786.25  2786.25  2786.00  2786.25      35  2786.175
 ...                      ...      ...      ...      ...     ...       ...
 2019-03-29 21:55:00  2840.25  2840.25  2839.25  2839.25     398  2839.800
 2019-03-29 21:56:00  2839.50  2839.75  2839.00  2839.25     340  2839.325
 2019-03-29 21:57:00  2839.25  2840.50  2839.00  2840.25     711  2839.925
 2019-03-29 21:58:00  2840.25  2840.50  2839.75  2840.25     224  2840.125
 2019-03-29 21:59:00  2839.75  2840.25  2839.50  2839.50     438  2840.000

                      barCount
 date
 2019-03-01 00:00:00       227
 2019-03-01 00:01:00        54
 2019-03-01 00:02:00        39
 2019-03-01 00:03:00        43
 2019-03-01 00:04:00        18
 ...                       ...
 2019-03-29 21:55:00        66
 2019-03-29 21:56:00        91
 2019-03-29 21:57:00        69
 2019-03-29 21:58:00        57
 2019-03-29 21:59:00       115

 [28664 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-04-01 00:00:00  2844.50  2847.75  2844.50  2847.00    3345  2845.875
 2019-04-01 00:01:00  2847.00  2852.50  2847.00  2852.25    3271  2849.850
 2019-04-01 00:02:00  2852.00  2853.75  2851.50  2852.00    1198  2852.400
 2019-04-01 00:03:00  2852.25  2852.50  2851.25  2851.25     569  2851.925
 2019-04-01 00:04:00  2851.25  2852.75  2851.25  2851.75     556  2851.925
 ...                      ...      ...      ...      ...     ...       ...
 2019-04-30 22:55:00  2954.75  2955.00  2954.50  2954.75     356  2954.675
 2019-04-30 22:56:00  2954.50  2954.75  2954.25  2954.75     394  2954.625
 2019-04-30 22:57:00  2954.50  2955.00  2954.50  2954.75     294  2954.775
 2019-04-30 22:58:00  2954.75  2955.50  2954.75  2955.25     796  2955.125
 2019-04-30 22:59:00  2955.00  2955.25  2954.75  2955.00     869  2955.000

                      barCount
 date
 2019-04-01 00:00:00       655
 2019-04-01 00:01:00       799
 2019-04-01 00:02:00       390
 2019-04-01 00:03:00       141
 2019-04-01 00:04:00       131
 ...                       ...
 2019-04-30 22:55:00        66
 2019-04-30 22:56:00        57
 2019-04-30 22:57:00        71
 2019-04-30 22:58:00        89
 2019-04-30 22:59:00       122

 [28665 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-05-01 00:00:00  2955.00  2955.50  2954.25  2954.25     919  2954.875
 2019-05-01 00:01:00  2954.50  2955.00  2954.25  2954.50     322  2954.500
 2019-05-01 00:02:00  2954.50  2954.75  2954.50  2954.50      40  2954.600
 2019-05-01 00:03:00  2954.50  2954.50  2954.25  2954.25      56  2954.400
 2019-05-01 00:04:00  2954.25  2954.50  2954.25  2954.50     233  2954.275
 ...                      ...      ...      ...      ...     ...       ...
 2019-05-31 22:55:00  2753.50  2753.50  2753.00  2753.00     148  2753.200
 2019-05-31 22:56:00  2752.75  2753.50  2752.75  2753.00     639  2753.175
 2019-05-31 22:57:00  2752.50  2752.75  2752.25  2752.50     470  2752.625
 2019-05-31 22:58:00  2752.75  2752.75  2752.25  2752.25     168  2752.475
 2019-05-31 22:59:00  2752.25  2753.00  2752.25  2752.50     583  2752.625

                      barCount
 date
 2019-05-01 00:00:00       186
 2019-05-01 00:01:00        70
 2019-05-01 00:02:00        24
 2019-05-01 00:03:00        22
 2019-05-01 00:04:00        39
 ...                       ...
 2019-05-31 22:55:00        42
 2019-05-31 22:56:00       141
 2019-05-31 22:57:00        64
 2019-05-31 22:58:00        34
 2019-05-31 22:59:00       111

 [31170 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-06-03 00:00:00  2741.00  2744.50  2740.00  2740.00    6349  2741.625
 2019-06-03 00:01:00  2740.00  2741.25  2738.75  2739.75    3294  2740.150
 2019-06-03 00:02:00  2740.00  2741.00  2739.50  2740.75    1285  2740.600
 2019-06-03 00:03:00  2740.50  2740.75  2739.50  2740.75     732  2740.125
 2019-06-03 00:04:00  2740.75  2741.00  2739.00  2739.25     887  2739.700
 ...                      ...      ...      ...      ...     ...       ...
 2019-06-28 22:55:00  2953.75  2953.75  2952.75  2953.00     280  2953.300
 2019-06-28 22:56:00  2952.75  2953.50  2952.50  2953.00     416  2953.000
 2019-06-28 22:57:00  2953.00  2953.50  2952.75  2953.50     303  2953.050
 2019-06-28 22:58:00  2953.50  2954.00  2953.00  2953.75     292  2953.475
 2019-06-28 22:59:00  2953.75  2954.00  2953.00  2953.75     730  2953.425

                      barCount
 date
 2019-06-03 00:00:00      1101
 2019-06-03 00:01:00       702
 2019-06-03 00:02:00       254
 2019-06-03 00:03:00       194
 2019-06-03 00:04:00       219
 ...                       ...
 2019-06-28 22:55:00        35
 2019-06-28 22:56:00       130
 2019-06-28 22:57:00        87
 2019-06-28 22:58:00        74
 2019-06-28 22:59:00       158

 [27300 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-07-01 00:00:00  2970.00  2973.75  2968.50  2973.50    8059  2970.375
 2019-07-01 00:01:00  2973.25  2975.00  2972.00  2972.50    2848  2973.600
 2019-07-01 00:02:00  2972.50  2973.50  2971.50  2973.25    1204  2972.400
 2019-07-01 00:03:00  2973.25  2973.75  2972.00  2973.00     806  2972.925
 2019-07-01 00:04:00  2973.00  2974.00  2972.50  2972.75     537  2973.325
 ...                      ...      ...      ...      ...     ...       ...
 2019-07-31 22:55:00  2973.50  2974.25  2973.00  2973.50     566  2973.500
 2019-07-31 22:56:00  2973.75  2974.75  2973.50  2974.25     310  2974.150
 2019-07-31 22:57:00  2974.00  2974.50  2973.75  2974.25     332  2974.100
 2019-07-31 22:58:00  2974.25  2974.25  2974.00  2974.25     272  2974.075
 2019-07-31 22:59:00  2974.25  2974.25  2973.00  2973.50     893  2973.550

                      barCount
 date
 2019-07-01 00:00:00      1761
 2019-07-01 00:01:00       860
 2019-07-01 00:02:00       413
 2019-07-01 00:03:00       281
 2019-07-01 00:04:00       226
 ...                       ...
 2019-07-31 22:55:00       132
 2019-07-31 22:56:00        70
 2019-07-31 22:57:00        64
 2019-07-31 22:58:00        45
 2019-07-31 22:59:00       147

 [30960 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-08-01 00:00:00  2970.25  2971.75  2969.25  2969.50    2728  2970.375
 2019-08-01 00:01:00  2969.50  2970.50  2968.50  2968.75    1476  2969.400
 2019-08-01 00:02:00  2969.00  2969.75  2968.75  2969.25     719  2969.225
 2019-08-01 00:03:00  2969.50  2969.75  2968.25  2969.00     575  2969.000
 2019-08-01 00:04:00  2969.00  2970.00  2969.00  2969.75     730  2969.725
 ...                      ...      ...      ...      ...     ...       ...
 2019-08-30 22:55:00  2921.25  2922.25  2921.00  2922.00     883  2921.575
 2019-08-30 22:56:00  2922.00  2922.75  2921.75  2922.25     450  2922.375
 2019-08-30 22:57:00  2922.50  2923.00  2922.00  2922.75     436  2922.475
 2019-08-30 22:58:00  2922.75  2923.25  2922.50  2923.25     251  2922.900
 2019-08-30 22:59:00  2923.25  2923.75  2923.00  2923.75     448  2923.450

                      barCount
 date
 2019-08-01 00:00:00       538
 2019-08-01 00:01:00       339
 2019-08-01 00:02:00       188
 2019-08-01 00:03:00       153
 2019-08-01 00:04:00       115
 ...                       ...
 2019-08-30 22:55:00       163
 2019-08-30 22:56:00       121
 2019-08-30 22:57:00        69
 2019-08-30 22:58:00        80
 2019-08-30 22:59:00       143

 [30030 rows x 7 columns],
                         open     high      low    close  volume   average  \
 date
 2019-09-02 00:00:00  2901.00  2902.25  2893.75  2897.00    3662  2898.875
 2019-09-02 00:01:00  2897.00  2902.25  2895.50  2901.00    1949  2898.950
 2019-09-02 00:02:00  2900.75  2901.00  2898.75  2899.50     636  2899.925
 2019-09-02 00:03:00  2899.50  2900.00  2898.00  2898.75     639  2899.000
 2019-09-02 00:04:00  2898.50  2902.75  2898.00  2901.75    1293  2899.900
 ...                      ...      ...      ...      ...     ...       ...
 2019-09-05 08:51:00  2957.50  2957.75  2957.50  2957.50     361  2957.525
 2019-09-05 08:52:00  2957.50  2958.00  2957.00  2957.25     517  2957.575
 2019-09-05 08:53:00  2957.50  2957.75  2957.25  2957.50     267  2957.400
 2019-09-05 08:54:00  2957.50  2958.25  2957.00  2958.25     226  2957.550
 2019-09-05 08:55:00  2958.25  2958.25  2957.75  2958.00     176  2957.925

                      barCount
 date
 2019-09-02 00:00:00      1022
 2019-09-02 00:01:00       705
 2019-09-02 00:02:00       240
 2019-09-02 00:03:00       193
 2019-09-02 00:04:00       359
 ...                       ...
 2019-09-05 08:51:00        70
 2019-09-05 08:52:00       112
 2019-09-05 08:53:00        85
 2019-09-05 08:54:00        62
 2019-09-05 08:55:00        34

 [4406 rows x 7 columns]]

In [21]:
months[9]

,open,high,low,close,volume,average,barCount
date,,,,,,,
2019-06-03 00:00:00,2741.00,2744.50,2740.00,2740.00,6349,2741.625,1101
2019-06-03 00:01:00,2740.00,2741.25,2738.75,2739.75,3294,2740.150,702
2019-06-03 00:02:00,2740.00,2741.00,2739.50,2740.75,1285,2740.600,254
2019-06-03 00:03:00,2740.50,2740.75,2739.50,2740.75,732,2740.125,194
2019-06-03 00:04:00,2740.75,2741.00,2739.00,2739.25,887,2739.700,219
...,...,...,...,...,...,...,...
2019-06-28 22:55:00,2953.75,2953.75,2952.75,2953.00,280,2953.300,35
2019-06-28 22:56:00,2952.75,2953.50,2952.50,2953.00,416,2953.000,130
2019-06-28 22:57:00,2953.00,2953.50,2952.75,2953.50,303,2953.050,87
2019-06-28 22:58:00,2953.50,2954.00,2953.00,2953.75,292,2953.475,74
2019-06-28 22:59:00,2953.75,2954.00,2953.00,2953.75,730,2953.425,158

In [22]:
candles = get_candles(data, get_avg_vol(data, 120)).set_index('date')

In [23]:
candles

                        open     high      low    close  barCount  volume
date
2018-09-04 02:31:00  2906.50  2912.50  2902.50  2904.50     34605  134452
2018-09-04 13:31:00  2904.50  2912.00  2894.75  2896.00     28532  134107
2018-09-04 15:34:00  2896.00  2898.50  2891.75  2896.00     16732  130583
2018-09-04 15:50:00  2896.00  2896.25  2886.25  2886.50     19416  144627
2018-09-04 16:18:00  2886.75  2898.25  2886.50  2896.50     17426  139397
...                      ...      ...      ...      ...       ...     ...
2019-09-04 19:03:00  2928.00  2934.50  2927.75  2933.75     22662  136899
2019-09-04 21:07:00  2934.00  2935.50  2929.00  2935.00     20499  134818
2019-09-04 21:58:00  2935.00  2939.00  2934.50  2937.75     15157  123074
2019-09-05 03:43:00  2937.50  2962.50  2936.50  2958.75     30892  174642
2019-09-05 08:55:00  2958.75  2971.75  2957.00  2958.00     27956  118243

[2871 rows x 6 columns]

In [24]:
start = months[0].index[0]
end = months[0].index[-1]

In [25]:
start, end

(Timestamp('2018-09-03 00:00:00'), Timestamp('2018-09-28 22:59:00'))

In [26]:
period = candles.loc[start:end]

In [27]:
period

                        open     high      low    close  barCount  volume
date
2018-09-04 02:31:00  2906.50  2912.50  2902.50  2904.50     34605  134452
2018-09-04 13:31:00  2904.50  2912.00  2894.75  2896.00     28532  134107
2018-09-04 15:34:00  2896.00  2898.50  2891.75  2896.00     16732  130583
2018-09-04 15:50:00  2896.00  2896.25  2886.25  2886.50     19416  144627
2018-09-04 16:18:00  2886.75  2898.25  2886.50  2896.50     17426  139397
...                      ...      ...      ...      ...       ...     ...
2018-09-28 17:59:00  2921.50  2925.50  2921.25  2921.75     16542  138491
2018-09-28 19:42:00  2921.50  2923.75  2915.50  2922.75     16539  135231
2018-09-28 21:11:00  2922.75  2924.00  2917.50  2918.25     15378  133601
2018-09-28 21:43:00  2918.50  2921.00  2916.25  2917.50     11073  134270
2018-09-28 21:58:00  2917.50  2920.50  2916.00  2917.50      9356  133073

[165 rows x 6 columns]

In [28]:
len(period.resample('D').last().dropna())

19

In [29]:
165/19

8.68421052631579

In [30]:
vols = get_vol(candles, 200)

In [31]:
vols.iloc[150:].head(50)

date
2018-09-27 16:07:00    4.681867
2018-09-27 16:58:00    4.678080
2018-09-27 18:17:00    4.680105
2018-09-27 20:06:00    4.710454
2018-09-27 21:12:00    4.682707
2018-09-27 21:58:00    4.652760
2018-09-28 09:56:00    4.651221
2018-09-28 14:51:00    4.655135
2018-09-28 15:57:00    4.656622
2018-09-28 16:46:00    4.675544
2018-09-28 17:59:00    4.647197
2018-09-28 19:42:00    4.620693
2018-09-28 21:11:00    4.613825
2018-09-28 21:43:00    4.584909
2018-09-28 21:58:00    4.556463
2018-10-01 04:06:00    4.760929
2018-10-01 14:38:00    4.740348
2018-10-01 15:51:00    4.751622
2018-10-01 16:39:00    4.726580
2018-10-01 17:57:00    4.705555
2018-10-01 19:15:00    4.689907
2018-10-01 20:45:00    4.664714
2018-10-01 21:34:00    4.680654
2018-10-01 21:58:00    4.687031
2018-10-02 09:17:00    4.702041
2018-10-02 15:29:00    4.708473
2018-10-02 16:02:00    4.683473
2018-10-02 16:51:00    4.655646
2018-10-02 18:02:00    4.684447
2018-10-02 19:46:00    4.656480
2018-10-02 21:12:00    4.702400
2018-10-02 21:53:00    4.680270
2018-10-03 06:26:00    4.661348
2018-10-03 15:33:00    4.717869
2018-10-03 16:14:00    4.719154
2018-10-03 17:04:00    4.735276
2018-10-03 18:31:00    4.736727
2018-10-03 20:16:00    4.710443
2018-10-03 20:51:00    4.802659
2018-10-03 21:27:00    4.789060
2018-10-03 21:58:00    4.778141
2018-10-04 07:37:00    4.875621
2018-10-04 13:22:00    4.858497
2018-10-04 15:36:00    4.830095
2018-10-04 16:01:00    4.819454
2018-10-04 16:22:00    4.813229
2018-10-04 16:44:00    4.792194
2018-10-04 17:24:00    4.783122
2018-10-04 18:00:00    4.836220
2018-10-04 18:28:00    4.825477
Name: vol_price, dtype: float64

In [32]:
r= roc(period, 160, None, vols)

In [33]:
r.iloc[50:].head(50)

date
2018-09-10 17:02:00   NaN
2018-09-10 17:56:00   NaN
2018-09-10 19:45:00   NaN
2018-09-10 21:44:00   NaN
2018-09-11 01:40:00   NaN
2018-09-11 13:28:00   NaN
2018-09-11 15:38:00   NaN
2018-09-11 16:06:00   NaN
2018-09-11 16:48:00   NaN
2018-09-11 17:48:00   NaN
2018-09-11 18:42:00   NaN
2018-09-11 20:30:00   NaN
2018-09-11 21:58:00   NaN
2018-09-12 11:21:00   NaN
2018-09-12 15:36:00   NaN
2018-09-12 16:06:00   NaN
2018-09-12 16:36:00   NaN
2018-09-12 17:11:00   NaN
2018-09-12 17:30:00   NaN
2018-09-12 18:04:00   NaN
2018-09-12 19:17:00   NaN
2018-09-12 20:44:00   NaN
2018-09-12 21:58:00   NaN
2018-09-13 12:59:00   NaN
2018-09-13 15:33:00   NaN
2018-09-13 16:00:00   NaN
2018-09-13 16:21:00   NaN
2018-09-13 16:52:00   NaN
2018-09-13 17:56:00   NaN
2018-09-13 19:47:00   NaN
2018-09-13 21:37:00   NaN
2018-09-14 07:21:00   NaN
2018-09-14 15:39:00   NaN
2018-09-14 17:10:00   NaN
2018-09-14 18:29:00   NaN
2018-09-14 21:56:00   NaN
2018-09-17 15:52:00   NaN
2018-09-17 19:40:00   NaN
2018-09-17 22:02:00   NaN
2018-09-18 11:13:00   NaN
2018-09-18 15:30:00   NaN
2018-09-18 15:55:00   NaN
2018-09-18 16:32:00   NaN
2018-09-18 17:26:00   NaN
2018-09-18 18:36:00   NaN
2018-09-18 20:51:00   NaN
2018-09-18 21:58:00   NaN
2018-09-19 12:41:00   NaN
2018-09-19 15:37:00   NaN
2018-09-19 16:10:00   NaN
Name: roc_160, dtype: float64

In [34]:
r.dropna()

date
2018-09-28 17:59:00    1.277987
2018-09-28 19:42:00    1.999025
2018-09-28 21:11:00    1.665215
2018-09-28 21:43:00    2.342391
2018-09-28 21:58:00    1.591175
Name: roc_160, dtype: float64

In [35]:
r.tail(50)

date
2018-09-21 15:39:00         NaN
2018-09-21 16:15:00         NaN
2018-09-21 16:56:00         NaN
2018-09-21 18:12:00         NaN
2018-09-21 19:56:00         NaN
2018-09-21 21:28:00         NaN
2018-09-21 21:57:00         NaN
2018-09-21 21:59:00         NaN
2018-09-24 08:59:00         NaN
2018-09-24 15:33:00         NaN
2018-09-24 16:06:00         NaN
2018-09-24 16:39:00         NaN
2018-09-24 17:16:00         NaN
2018-09-24 18:46:00         NaN
2018-09-24 20:39:00         NaN
2018-09-24 21:55:00         NaN
2018-09-25 09:59:00         NaN
2018-09-25 15:34:00         NaN
2018-09-25 16:24:00         NaN
2018-09-25 17:26:00         NaN
2018-09-25 19:23:00         NaN
2018-09-25 20:33:00         NaN
2018-09-25 21:45:00         NaN
2018-09-25 22:09:00         NaN
2018-09-26 15:28:00         NaN
2018-09-26 16:12:00         NaN
2018-09-26 17:39:00         NaN
2018-09-26 20:00:00         NaN
2018-09-26 20:36:00         NaN
2018-09-26 21:21:00         NaN
2018-09-26 21:46:00         NaN
2018-09-26 21:57:00         NaN
2018-09-26 22:04:00         NaN
2018-09-27 11:47:00         NaN
2018-09-27 15:38:00         NaN
2018-09-27 16:07:00         NaN
2018-09-27 16:58:00         NaN
2018-09-27 18:17:00         NaN
2018-09-27 20:06:00         NaN
2018-09-27 21:12:00         NaN
2018-09-27 21:58:00         NaN
2018-09-28 09:56:00         NaN
2018-09-28 14:51:00         NaN
2018-09-28 15:57:00         NaN
2018-09-28 16:46:00         NaN
2018-09-28 17:59:00    1.277987
2018-09-28 19:42:00    1.999025
2018-09-28 21:11:00    1.665215
2018-09-28 21:43:00    2.342391
2018-09-28 21:58:00    1.591175
Name: roc_160, dtype: float64

In [36]:
data = period.copy()
data['roc'] = data.close.pct_change(5) * 1000
data.head(50)

,open,high,low,close,barCount,volume,roc
date,,,,,,,
2018-09-04 02:31:00,2906.50,2912.50,2902.50,2904.50,34605,134452,NaN
2018-09-04 13:31:00,2904.50,2912.00,2894.75,2896.00,28532,134107,NaN
2018-09-04 15:34:00,2896.00,2898.50,2891.75,2896.00,16732,130583,NaN
2018-09-04 15:50:00,2896.00,2896.25,2886.25,2886.50,19416,144627,NaN
2018-09-04 16:18:00,2886.75,2898.25,2886.50,2896.50,17426,139397,NaN
2018-09-04 16:51:00,2896.75,2900.25,2893.75,2900.00,16865,135667,-1.549320
2018-09-04 17:41:00,2900.00,2901.00,2894.75,2895.25,18437,142444,-0.258978
2018-09-04 18:23:00,2895.50,2895.50,2886.00,2886.00,16157,129338,-3.453039
2018-09-04 19:40:00,2886.00,2894.25,2885.50,2892.00,18556,141710,1.905422
2018-09-04 21:09:00,2892.00,2899.00,2890.75,2898.00,18897,135709,0.517866
2018-09-04 21:58:00,2898.25,2898.50,2892.50,2896.50,12839,110018,-1.206897
2018-09-05 09:49:00,2896.50,2900.50,2885.25,2887.00,28561,172497,-2.849495
2018-09-05 15:16:00,2887.25,2892.75,2885.00,2892.00,20379,131287,2.079002
2018-09-05 15:49:00,2892.25,2895.00,2889.25,2894.25,18333,136233,0.778008
2018-09-05 16:12:00,2894.50,2894.50,2885.25,2887.00,18030,137535,-3.795721
2018-09-05 16:26:00,2887.00,2887.00,2877.50,2880.50,16477,134811,-5.523908
2018-09-05 16:50:00,2880.25,2885.75,2878.00,2883.50,18295,137343,-1.212331
2018-09-05 17:28:00,2883.50,2886.75,2880.75,2881.00,18427,136168,-3.803596
2018-09-05 18:21:00,2881.00,2889.00,2879.25,2888.50,18593,140656,-1.986698
2018-09-05 19:33:00,2888.50,2893.50,2886.00,2892.75,17349,135663,1.991687
2018-09-05 21:02:00,2893.00,2893.25,2887.00,2888.50,17982,135152,2.777296
2018-09-05 21:56:00,2888.25,2891.75,2884.75,2888.50,15379,134564,1.734004
2018-09-06 03:50:00,2888.75,2890.75,2884.75,2888.00,16910,138343,2.429712
2018-09-06 14:34:00,2887.75,2892.75,2882.00,2889.25,28474,133964,0.259650
2018-09-06 15:46:00,2889.50,2892.00,2885.50,2888.50,19838,133637,-1.469190
2018-09-06 16:13:00,2888.50,2893.00,2880.25,2880.50,19042,135522,-2.769604
2018-09-06 16:34:00,2880.25,2884.75,2879.50,2880.25,15847,129347,-2.856154
2018-09-06 16:56:00,2880.25,2881.25,2871.50,2875.75,19583,148833,-4.241690
2018-09-06 17:20:00,2875.75,2877.50,2869.00,2869.75,17808,140727,-6.749156
2018-09-06 18:00:00,2870.00,2878.50,2869.00,2876.25,17691,137390,-4.240956
2018-09-06 19:11:00,2876.25,2877.25,2868.00,2868.75,19083,133321,-4.079153
2018-09-06 20:32:00,2868.50,2877.75,2868.50,2875.75,19218,137135,-1.562364
2018-09-06 21:30:00,2875.75,2884.50,2875.25,2882.75,16075,136111,2.434148
2018-09-06 21:59:00,2882.75,2883.75,2878.75,2880.50,11973,125815,3.745971
2018-09-07 09:27:00,2880.50,2881.50,2871.00,2877.75,34159,154078,0.521512
2018-09-07 14:54:00,2877.75,2880.50,2867.50,2870.25,24565,134528,0.522876
2018-09-07 15:39:00,2870.25,2871.50,2865.00,2871.00,19729,134506,-1.651743
2018-09-07 16:01:00,2871.00,2877.75,2869.25,2874.25,19190,144163,-2.948573
2018-09-07 16:43:00,2874.25,2881.50,2874.25,2878.25,20783,136152,-0.781114
2018-09-07 17:37:00,2878.25,2884.75,2877.25,2883.50,20444,136938,1.998089
2018-09-07 18:10:00,2883.50,2885.00,2868.25,2871.50,17425,132869,0.435502
2018-09-07 18:42:00,2871.50,2874.75,2868.75,2869.00,19752,141367,-0.696621
2018-09-07 19:52:00,2869.00,2874.50,2867.00,2870.75,19166,139556,-1.217709
2018-09-07 21:14:00,2870.50,2877.50,2869.25,2876.75,18019,135552,-0.521150
2018-09-07 21:50:00,2876.75,2877.00,2870.25,2871.25,15762,133308,-4.248309
2018-09-07 22:02:00,2871.25,2875.75,2871.00,2872.25,10853,138060,0.261188
2018-09-10 11:23:00,2872.25,2891.25,2871.75,2890.00,31722,137463,7.319624
2018-09-10 15:33:00,2890.25,2892.25,2888.25,2889.25,18146,131820,6.444309
2018-09-10 15:55:00,2889.00,2893.75,2888.00,2890.75,19467,139037,4.866603
2018-09-10 16:26:00,2890.50,2891.00,2883.50,2885.75,19266,142263,5.050065

In [37]:
data['vol'] = vols
data['roc_normalized'] = data['roc'] / vols
data

,open,high,low,close,barCount,volume,roc,vol,roc_normalized
date,,,,,,,,,
2018-09-04 02:31:00,2906.50,2912.50,2902.50,2904.50,34605,134452,NaN,NaN,NaN
2018-09-04 13:31:00,2904.50,2912.00,2894.75,2896.00,28532,134107,NaN,NaN,NaN
2018-09-04 15:34:00,2896.00,2898.50,2891.75,2896.00,16732,130583,NaN,NaN,NaN
2018-09-04 15:50:00,2896.00,2896.25,2886.25,2886.50,19416,144627,NaN,NaN,NaN
2018-09-04 16:18:00,2886.75,2898.25,2886.50,2896.50,17426,139397,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2018-09-28 17:59:00,2921.50,2925.50,2921.25,2921.75,16542,138491,-0.085558,4.647197,-0.018411
2018-09-28 19:42:00,2921.50,2923.75,2915.50,2922.75,16539,135231,1.971203,4.620693,0.426603
2018-09-28 21:11:00,2922.75,2924.00,2917.50,2918.25,15378,133601,2.318393,4.613825,0.502488
2018-09-28 21:43:00,2918.50,2921.00,2916.25,2917.50,11073,134270,0.600189,4.584909,0.130905
2018-09-28 21:58:00,2917.50,2920.50,2916.00,2917.50,9356,133073,-1.283697,4.556463,-0.281731

In [38]:
vols.head(50)

date
2018-09-04 02:31:00   NaN
2018-09-04 13:31:00   NaN
2018-09-04 15:34:00   NaN
2018-09-04 15:50:00   NaN
2018-09-04 16:18:00   NaN
2018-09-04 16:51:00   NaN
2018-09-04 17:41:00   NaN
2018-09-04 18:23:00   NaN
2018-09-04 19:40:00   NaN
2018-09-04 21:09:00   NaN
2018-09-04 21:58:00   NaN
2018-09-05 09:49:00   NaN
2018-09-05 15:16:00   NaN
2018-09-05 15:49:00   NaN
2018-09-05 16:12:00   NaN
2018-09-05 16:26:00   NaN
2018-09-05 16:50:00   NaN
2018-09-05 17:28:00   NaN
2018-09-05 18:21:00   NaN
2018-09-05 19:33:00   NaN
2018-09-05 21:02:00   NaN
2018-09-05 21:56:00   NaN
2018-09-06 03:50:00   NaN
2018-09-06 14:34:00   NaN
2018-09-06 15:46:00   NaN
2018-09-06 16:13:00   NaN
2018-09-06 16:34:00   NaN
2018-09-06 16:56:00   NaN
2018-09-06 17:20:00   NaN
2018-09-06 18:00:00   NaN
2018-09-06 19:11:00   NaN
2018-09-06 20:32:00   NaN
2018-09-06 21:30:00   NaN
2018-09-06 21:59:00   NaN
2018-09-07 09:27:00   NaN
2018-09-07 14:54:00   NaN
2018-09-07 15:39:00   NaN
2018-09-07 16:01:00   NaN
2018-09-07 16:43:00   NaN
2018-09-07 17:37:00   NaN
2018-09-07 18:10:00   NaN
2018-09-07 18:42:00   NaN
2018-09-07 19:52:00   NaN
2018-09-07 21:14:00   NaN
2018-09-07 21:50:00   NaN
2018-09-07 22:02:00   NaN
2018-09-10 11:23:00   NaN
2018-09-10 15:33:00   NaN
2018-09-10 15:55:00   NaN
2018-09-10 16:26:00   NaN
Name: vol_price, dtype: float64

In [39]:
x = pd.Series({'a': 1, 'b': -2, 'c': 4, 'd': -7})
x

a    1
b   -2
c    4
d   -7
dtype: int64

In [40]:
x.apply(lambda x: max(x,0))

a    1
b    0
c    4
d    0
dtype: int64