In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('/home/tomek/ib_tools')
from tester import get_data
from grouper import VolumeGrouper, group_by_volume

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/arctic/store/_pandas_ndarray_store.py:6: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import DataFrame, Series, Panel

In [2]:
nq = get_data('NQ', '20190101', '20190331')
nq

,open,high,low,close,volume,average,barCount
date,,,,,,,
2019-01-02 00:00:00,6349.50,6355.75,6344.00,6353.00,332,6348.950,188
2019-01-02 00:01:00,6352.50,6364.75,6351.50,6361.25,296,6359.125,226
2019-01-02 00:02:00,6360.75,6371.50,6359.25,6368.50,339,6366.850,256
2019-01-02 00:03:00,6369.25,6371.75,6366.00,6366.25,195,6368.825,138
2019-01-02 00:04:00,6367.00,6367.50,6364.50,6366.25,154,6366.425,104
...,...,...,...,...,...,...,...
2019-03-29 21:55:00,7413.50,7413.75,7410.50,7410.75,102,7412.175,58
2019-03-29 21:56:00,7411.25,7411.50,7410.00,7410.50,71,7410.850,52
2019-03-29 21:57:00,7410.50,7412.75,7409.50,7412.75,71,7410.650,47
2019-03-29 21:58:00,7412.50,7412.50,7412.25,7412.50,40,7412.375,19
2019-03-29 21:59:00,7412.50,7413.50,7412.00,7412.75,124,7412.825,59

In [6]:
fixed_object = VolumeGrouper(nq, 10000)
fixed = fixed_object.df

In [7]:
fixed

                        open     high      low    close  barCount  volume
date
2019-01-02 02:12:00  6349.50  6386.25  6344.00  6383.00      6795   10144
2019-01-02 03:22:00  6383.25  6383.75  6320.00  6326.00      7444   10087
2019-01-02 04:46:00  6326.00  6327.00  6292.25  6303.00      7518   10088
2019-01-02 06:40:00  6302.50  6307.00  6258.75  6272.75      7321   10049
2019-01-02 08:36:00  6273.00  6277.00  6247.00  6264.75      7359   10164
...                      ...      ...      ...      ...       ...     ...
2019-03-29 20:52:00  7394.25  7398.50  7389.75  7395.50      4684   10284
2019-03-29 20:57:00  7395.75  7403.00  7387.00  7401.00      4233   10897
2019-03-29 20:59:00  7400.75  7405.75  7396.50  7402.25      5056   12793
2019-03-29 21:09:00  7402.25  7409.75  7396.25  7407.25      3760   10039
2019-03-29 21:59:00  7407.25  7414.50  7407.00  7412.75      2005    4728

[2599 rows x 6 columns]

In [8]:
fixed.head(50)

                        open     high      low    close  barCount  volume
date
2019-01-02 02:12:00  6349.50  6386.25  6344.00  6383.00      6795   10144
2019-01-02 03:22:00  6383.25  6383.75  6320.00  6326.00      7444   10087
2019-01-02 04:46:00  6326.00  6327.00  6292.25  6303.00      7518   10088
2019-01-02 06:40:00  6302.50  6307.00  6258.75  6272.75      7321   10049
2019-01-02 08:36:00  6273.00  6277.00  6247.00  6264.75      7359   10164
2019-01-02 09:21:00  6265.25  6266.75  6192.25  6192.50      8022   11400
2019-01-02 09:41:00  6192.50  6193.25  6162.00  6163.00      7348   10512
2019-01-02 10:24:00  6163.00  6196.75  6154.00  6194.25      7502   10232
2019-01-02 11:08:00  6194.25  6207.00  6175.25  6202.50      6618   10009
2019-01-02 12:00:00  6202.75  6214.75  6180.25  6185.00      6989   10009
2019-01-02 13:09:00  6185.00  6210.50  6184.25  6209.50      7937   10548
2019-01-02 13:57:00  6209.00  6225.00  6199.50  6201.50      7400   10513
2019-01-02 14:33:00  6201.75  6212.25  6186.25  6189.25      7265   10291
2019-01-02 15:17:00  6190.00  6210.50  6187.50  6205.50      6500   10084
2019-01-02 15:31:00  6206.00  6236.00  6202.25  6231.00      6520   10773
2019-01-02 15:35:00  6230.50  6242.50  6222.00  6233.75      9127   13942
2019-01-02 15:38:00  6233.75  6250.00  6227.75  6235.25      6549   10412
2019-01-02 15:42:00  6234.50  6247.00  6223.00  6243.25      7242   10537
2019-01-02 15:47:00  6243.75  6260.00  6231.75  6257.50      7529   11279
2019-01-02 15:52:00  6257.00  6263.75  6249.50  6250.25      5937   10462
2019-01-02 15:57:00  6250.50  6270.00  6247.50  6263.00      6118   10516
2019-01-02 16:03:00  6263.00  6267.00  6241.75  6250.75      6085   10652
2019-01-02 16:08:00  6251.25  6286.00  6250.00  6280.00      6142   10389
2019-01-02 16:13:00  6279.75  6302.50  6279.75  6298.50      7027   11731
2019-01-02 16:19:00  6298.25  6307.75  6287.25  6291.75      6464   10169
2019-01-02 16:25:00  6292.00  6318.75  6286.00  6315.25      7034   11794
2019-01-02 16:31:00  6315.00  6315.75  6286.25  6287.75      6903   11611
2019-01-02 16:39:00  6288.25  6297.50  6278.75  6294.00      6686   10377
2019-01-02 16:47:00  6294.25  6322.50  6293.75  6319.75      7471   11583
2019-01-02 16:54:00  6320.25  6332.75  6308.25  6328.75      6394   10123
2019-01-02 17:02:00  6329.25  6336.50  6317.25  6319.00      6840   10845
2019-01-02 17:10:00  6319.25  6346.00  6319.25  6342.50      6778   10964
2019-01-02 17:19:00  6342.25  6367.75  6340.50  6363.75      7614   12734
2019-01-02 17:25:00  6364.00  6368.00  6350.50  6359.00      5907   10762
2019-01-02 17:30:00  6359.25  6364.75  6338.50  6342.00      5345   10110
2019-01-02 17:38:00  6341.75  6349.50  6328.25  6329.00      6607   11250
2019-01-02 17:48:00  6329.50  6356.00  6329.00  6342.25      6262   10247
2019-01-02 17:57:00  6342.50  6353.75  6330.50  6339.00      6640   11493
2019-01-02 18:04:00  6339.25  6341.75  6317.50  6322.75      5709   10537
2019-01-02 18:11:00  6323.00  6336.50  6320.00  6329.00      5299   10611
2019-01-02 18:24:00  6329.00  6338.75  6322.75  6327.25      6524   11767
2019-01-02 18:36:00  6327.50  6360.75  6326.25  6360.25      6424   11309
2019-01-02 18:46:00  6359.75  6372.25  6357.00  6368.50      5596   10261
2019-01-02 19:02:00  6368.75  6384.00  6356.75  6379.25      7172   10401
2019-01-02 19:14:00  6378.75  6395.25  6375.50  6387.00      6249   10249
2019-01-02 19:30:00  6386.75  6400.75  6380.50  6399.25      6543   10042
2019-01-02 19:39:00  6399.50  6406.25  6387.00  6393.50      5384   10342
2019-01-02 19:58:00  6393.25  6409.25  6387.00  6402.75      6345   10100
2019-01-02 20:11:00  6402.75  6408.00  6368.25  6371.25      6599   10480
2019-01-02 20:30:00  6371.00  6397.00  6368.00  6394.75      6741   10178

In [ ]:
grouper=VolumeGrouper(nq, dynamic=True, multiple=15)
x= grouper.df